mat-tab-group {
  margin-bottom: 48px;
  color: black !important;
}
.mat-tab {
  color: black !important;
}

* {
  color: black !important;
}

.mat-tab-group.mat-background-warn > .mat-tab-header .mat-tab-label {
  color: black !important;
}

.color > * {
  color: black !important;
}

.body {
  background-color: #b1b7fa;
}
