<div class="bg-component">
    <div class="accordion_display">
        <div class="accordion_size">
            <div class="col-12 col-lg-12" *ngIf="successMessage">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <div class="alert-message">
                        {{ successMessage }}
                    </div>

                    <button type="button" class="close" (click)="closeX()" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">X</span>
                    </button>
                </div>
            </div>
            <div class="col-12 col-lg-12" *ngIf="errorMessage">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <div class="alert-message">
                        {{ errorMessage }}
                    </div>

                    <button type="button" class="close" (click)="closeX()" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">X</span>
                    </button>
                </div>
            </div>

            <mat-accordion multi="true" *ngIf="usersData.length">
                <mat-expansion-panel *ngFor="let user of usersData" hideToggle="false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span class="text_center">{{ user.name }}</span>
                            <span class="spacer"></span>
                            <button class="enable" *ngIf="user.active" mat-raised-button>
                                Activado
                            </button>
                            <button class="disable" *ngIf="!user.active" mat-raised-button>
                                Desactivado
                            </button>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-panel-description>


                        <div class="col-12 col-lg-12" *ngIf="errorMessage">
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <div class="alert-message">
                                    {{ errorMessage }}
                                </div>

                                <button type="button" class="close" (click)="closeX()" data-dismiss="alert"
                                    aria-label="Close">
                                    <span aria-hidden="true">X</span>
                                </button>
                            </div>
                        </div>

                        <div class="container">
                            <mat-form-field>
                                <input [(ngModel)]="user.name" matInput placeholder="Name" required />
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Role</mat-label>
                                <mat-select [(ngModel)]="user.roleId._id">
                                    <mat-option *ngFor="let role of roles" [value]="role._id"> {{role.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field>
                                <input [(ngModel)]="user.email" matInput placeholder="Email" required />
                            </mat-form-field>
                            <mat-form-field>
                                <input (ngModel)="user.password" matInput placeholder="Password" />
                            </mat-form-field>
                        </div>



                    </mat-panel-description>

                    <mat-action-row>
                        <button class="update" (click)="updateUser(user)" mat-raised-button>
                            Update
                        </button>

                        <button class=" changeStatus" (click)="deactivateUser(user)" mat-raised-button>
                            Status
                        </button>
                        <span class=" spacer"></span>
                        <mat-icon color="primary" (click)="deleteUser(user)">
                            delete
                        </mat-icon>
                    </mat-action-row>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>