<mat-toolbar class="bgHeader">
  <ul>
    <a *ngIf="auth.loggedIn()" routerLink="listTask">Listar tareas</a>
  </ul>
  <ul>
    <a *ngIf="auth.loggedIn()" routerLink="saveTask">Crear tareas</a>
  </ul>
  <ul>
    <a *ngIf="auth.loggedIn() && auth.getAdmin()" routerLink="admin">Admin</a>
  </ul>
  <span class="headerSpacer"></span>
  <ul>
    <a *ngIf="!auth.loggedIn()" mat-button routerLink="register">Register</a>
    <a *ngIf="!auth.loggedIn()" mat-button routerLink="login">Login</a>
    <a *ngIf="auth.loggedIn()" (click)="auth.logout()" mat-button>Logout</a>
  </ul>
</mat-toolbar>